extends layout

-var i = 0

block content
  include parts/filterFields
  include parts/searchField
  section.result-searching
    ul
      if message
        each i in message
          li
            img.small-img(src='#{i.hotel.image}')
            div.info
              h1 #{i.tour_name}
              p #{i.hotel.address.country}, г. #{i.hotel.address.city}
              ul Стоимость:
                li.price #{i.price.USD} USD
                li.price #{i.price.EUR} EUR
                li.price #{i.price.RUB} RUB
            div.btn
              form.more-info-form(action='/tour' method='POST')
                input.invisible(type='number', name='id', value='#{i._id}', required)
                button#more-info-btn(type='submit') Подробнее
              p.clear-fix
