extends layout
-var i = 0

block content
  section.tour-info
    ul
      if message
        each i in message
          li
            img.img(src='#{i.hotel.image}')
            h1 #{i.tour_name}
              span  (#{i.hotel.stars}*)
            h3.tag #{i.tags}
            h3.pin #{i.hotel.address.country}, г.#{i.hotel.address.city}
            div.descr
              p #{i.description}
            p.transp Как добраться: #{i.transportation}
            ul
              p.cost Стоимость (на одного человека):
              li.price #{i.price.USD} USD
              li.price #{i.price.EUR} EUR
              li.price #{i.price.RUB} RUB
            form.reservation-page-form(action='/reservation' method='POST')
              input.invisible(type='number', name='id', value='#{i._id}', required)
              button#reservation-page-btn(type='submit') Оставить заказ на бронь
            p.clear-fix
