extends layout

block content
  section.tour-info
    ul
      if message
        each i in message
          li
            h1 ИНФОРМАЦИЯ О ТУРЕ!
            img.small-img(src='#{i.hotel.image}')
            h1 #{i.tour_name}
            p Страна #{i.hotel.address.country}
            p Стоимость #{i.price.USD} USD
            form.reservation-page-form(action='/reservation' method='POST')
              input(type='number', name='id', value='#{i._id}', required)
              button#reservation-page-btn(type='submit') Оставить заказ на бронь
            p.clear-fix
      else
        li